# Exclude sources and configs
src/
scripts/
.vscode/
node_modules/
.vite/
tsconfig.json
vite.config.ts
*.tsbuildinfo

# Local test & docs
docs/
examples/
test/
tmp/

# Project files
.gitignore
.npmignore
README.dev.md
*.vsix

# GitHub metadata
.github/
